body {
    font-family: 'Lato', sans-serif;
    background-color:antiquewhite;
}
h1 {
    color:blue;
    background-color:burlywood;
}
h2 {
    color:white;
    background-color:aquamarine;
}
p {
    font-size:20px;
    font-weight:700;
}
img {
    height: 200px;
    width: 200px;
}
/*to call the class,you will start with a "." */
.abc {
    font-size:18px;
    color:aqua;
    background-color:blue;
}
/* call an ID,we can use"#" */
#xyz {
    font-size:30px;
    color:brown;
    background-color:red;
}
.qwe{
    background-color:red;
}
h1{
    display:inline-block;
}
a{
    display:block;
}
